textarea.error, input.error {
    border: 1px solid red;
}

textarea.error + span, input.error + span  {
    color: red;
}
.form-error {
    border: 1px solid red;
    padding: 5px;
    color: slateblue;
}